<div class="main">
	<h1 class="users-title container">プロフィール編集画面</h1>
	<div class="users-content container">
		<% @user.errors.full_messages.each do |message| %>
			<div id="error-message">
				<%= message %>
			</div>
		<% end %>


		<%= form_tag("/users/#{@user.id}/update") do %>
			<div>
				<label>Name</label>
				<input class="form-control" name="name" type="text" placeholder="Name" value="<%= @user.name %>">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="<%= @user.email %>">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value="<%= @user.password %>">
					</div>
					<input type="submit" class="login-btn" value="Save">
				</form>
			</div>
		<% end %>
	</div>
</div>